<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">

    <li class="nav-item active">

      <a class="nav-link" routerLink="/composer-list">Composer List</a>

    </li>

    <li class="nav-item">

      <a class="nav-link" routerLink="/about">About</a>

    </li>

    <li class="nav-item">

      <a class="nav-link" routerLink="/contact">Contact Us</a>

    </li>

  </ul>

</nav>


<div role="main" class="container">

  <br /><br />

  <h2>Exercise 3.2 - Passing Data to Routes, Part 1</h2>

  <br /><br />

  <input type="text" placeholder="search">
  <br /><br />

  <div class="row">

    <table bgcolor="black">
      <tr bgcolor="grey">
        <th width="100">Composer ID</th>
        <th width="100">Full Name</th>
        <th width="100">Genre</th>
      </tr>

      <tr bgcolor="lightgrey" align="center">
        <td>100</td>
        <td>Ludwig Van Beethoven</td>
        <td>Classical</td>
      </tr>

      <tr bgcolor="lightgrey" align="center">
        <td>101</td>
        <td>Johann Sebastian Bach</td>
        <td>Classical</td>
      </tr>

      <tr bgcolor="lightgrey" align="center">
        <td>102</td>
        <td>Wolfgang Amadeus Mozart</td>
        <td>Classical</td>
      </tr>

      <tr bgcolor="lightgrey" align="center">
        <td>103</td>
        <td>Fredric Chopin</td>
        <td>Classical</td>
      </tr>

      <tr bgcolor="lightgrey" align="center">
        <td>104</td>
        <td>Johann Pachelbel</td>
        <td>Classical</td>
      </tr>


    </table>


  </div>

<router-outlet></router-outlet>

</div>
